[package]
name = "rocket_oauth2"
version = "0.4.0"
description = "OAuth2 for Rocket applications"
documentation = "https://docs.rs/rocket_oauth2/"
homepage = "https://github.com/jebrosen/rocket_oauth2"
repository = "https://github.com/jebrosen/rocket_oauth2"
authors = ["Jeb Rosen <jeb@jebrosen.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
edition = "2018"

[workspace]
members = ["examples/user_info_hyper_sync_rustls", "examples/user_info_custom_provider"]

[features]
default = ["hyper_sync_rustls_adapter"]
hyper_sync_rustls_adapter = ["hyper", "hyper-sync-rustls"]

[dependencies]
base64 = "0.12"
log = "0.4.4"
rand = { version = "0.7", default-features = false, features = ["std"] }
rocket = { version = "0.4.5", default-features = false, features = ["private-cookies"] }
serde_json = "1.0"
url = "2.0"

# hyper-sync-rustls adapter
hyper = { version = "0.10", optional = true }
hyper-sync-rustls = { version = ">=0.3.0-rc.4, <0.3.0-rc.18", optional = true }
